main {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-areas: "h h h h h h h" "a a a a as as as" "f f f f f f f";
}

header {
    padding-bottom: 10px;
    grid-area: h;
}

article {
    grid-area: a;
}

aside {
    grid-area: as;
}

.jatekter div {
    height: 100px;
    width: 100px;
    border: solid grey 2px;
    border-radius: 10px;
    font-size: 100px;
    text-align: center;
    /* display: flex;
  justify-content: center; */
}

.jatekter {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
}

.tabla,
.jatekAllapot,
.jatekosok {}

footer {
    padding-top: 10px;
    grid-area: f;
}